ci:
  # Commit name when auto fixing PRs.
  autofix_commit_msg: |
    ci: auto fixes from pre-commit.com hooks.

    for more information, see https://pre-commit.ci

  autoupdate_commit_msg: 'ci: pre-commit autoupdate'
  autoupdate_schedule: weekly


repos:

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: [
      "--ignore-words", "translation/en-US/vocabulary/accept.txt", "-w",
      "-D", "translation/fr-FR/vocabulary/dictionary.txt",
      "-D", "translation/pt-BR/vocabulary/dictionary.txt"
    ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
    - id: check-dependabot
    - id: check-github-workflows
