name: CI-CD

on:
  pull_request:
    branches: [ "master" ]
    types:
        - opened
        - reopened
        - synchronize

  workflow_dispatch:

jobs:
  pull-request-title:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: semantic-pull-request
        uses: amannn/action-semantic-pull-request@v6.1.1