name: CI-CD

on:
  pull_request:
    branches: [ "master" ]
    types:
        - opened
        - reopened
        - synchronize

  workflow_dispatch:

jobs:
  labeler:
    name: Pull Request Labels
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Label Based on Modified Files
      - name: Label Based on Modified Files
        uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}


  pull-request-title:
    runs-on: ubuntu-latest
    permissions:
        pull-requests: read

    steps:
      - uses: actions/checkout@v6

      - name: semantic-pull-request
        uses: amannn/action-semantic-pull-request@v6
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}