name: CI-CD

on:
  pull_request:
    branches: [ "master" ]
    types:
        - opened
        - reopened
        - synchronize

  workflow_dispatch:

jobs:
  labeler:
    name: Pull Request Labels
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Label Based on Modified Files
      - name: Label Based on Modified Files
        uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      # Label Based on Branch Name
      - uses: actions-ecosystem/action-add-labels@v1
        if: startsWith(github.event.pull_request.head.ref, 'fix')
        with:
          labels: bug

      - uses: actions-ecosystem/action-add-labels@v1
        if: |
          startsWith(github.event.pull_request.head.ref, 'doc') ||
          startsWith(github.event.pull_request.head.ref, 'docs')
        with:
          labels: documentation

      - uses: actions-ecosystem/action-add-labels@v1
        if: startsWith(github.event.pull_request.head.ref, 'feat')
        with:
          labels: enhancement

      - uses: actions-ecosystem/action-add-labels@v1
        if: |
          startsWith(github.event.pull_request.head.ref, 'ci') ||
          startsWith(github.event.pull_request.head.ref, 'maint')
        with:
          labels: maintenace


  pull-request-title:
    name: Pull Request Name
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read

    steps:
      - uses: actions/checkout@v6

      - uses: amannn/action-semantic-pull-request@v6
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}